{% extends "base.html" %} {% block start %}
<h1>Welcome to Django</h1>

<a class="btn btn-success" href="{% url "send_email" %}">Send Mail</a>

<h4>{{text | truncatechars:10}}</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">S.N</th>
      <th scope="col">First</th>
      <th scope="col">Age</th>
      <th scope="col">Can Vote</th>
    </tr>
  </thead>
  <tbody>
    {% for people in peoples %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{people.name}}</td>
      <td>{{people.age}}</td>
      <td>{% if people.age >= 18 %} 👍 {% else %} 👎 {% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
